{% extends "base.html" %}
{% block title %}
{% if subject %}
{{ subject.title }} courses
{% else %}
All courses
{% endif %}
{% endblock %}

{% block content %}
<div class="d-flex" id="wrapper">
    {% include 'student_nav.html' %}
    <div class="module">
        <h1>
            {% if subject %}
            {{ subject.title }} courses
            {% else %}
            All courses
            {% endif %}
        </h1>
        {% for course in courses %}
        {% with subject=course.subject %}
        <h3><a href="{% url 'student_course_detail' course.slug %}">
                {{ course.title }}</a></h3>
        <p>
            <a href="{% url 'student_course_list_subject' subject.slug %}">
                {{ subject }}</a>
            <br>

            {{ course.total_modules }} modules
            <br>
            Instructor: {{ course.owner.get_full_name }}
            <br>

        </p>
        {% endwith %}
        {% endfor %}
    </div>

</div>
{% endblock %}