{% extends 'base.html' %}

{% block title %}
{% if object %}
Edit content "{{ object.title }}"
{% else %}
Add a new content
{% endif %}
{% endblock %}

{% block content %}
<div class="d-flex" id="wrapper">
    {% include 'navbar.html' %}
    <div id="page-content-wrapper">
        <h1>
            {% if object %}
            Edit content "{{ object.title }}"
            {% else %}
            Add a new content
            {% endif %}
        </h1>
        <div class="container-fluid">
            <form method="post" enctype="multipart/form-data">
                {{ form.as_p }}
                {% csrf_token %}
                <p><input type="submit" value="Save content"></p>
            </form>
        </div>
    </div>
</div>
{% endblock %}