<div class="bg-light border-right" id="sidebar-wrapper">
    <h3>Modules</h3>
    <div class="list-group list-group-flush">
        {% for item in course.modules.all %}
        <a href="{% url 'module_content_list' course.id item.id  %}"
            class="list-group-item list-group-item-action bg-light">{{ item.title }}</a>
        {% empty %}
        <li>No modules yet.</li>
        {% endfor %}
        {% if course.owner.id == request.user.id %}
        <a href="{% url 'course_module_update' course.id%}" class="list-group-item list-group-item-action bg-light">Edit
            modules</a>
        {%endif%}
    </div>
</div>