{% extends 'base.html' %}

{% block title %}Courses{% endblock %}

{% block content %}
<div class="d-flex" id="wrapper">
    {% include 'navbar.html' %}
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <h2>Create Course</h2>
            <form action="" method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <p><input type="submit" value="Save course"></p>
            </form>
        </div>
    </div>
</div>
{% endblock %}