{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="d-flex" id="wrapper">
  {% include 'navbar.html' %}
  <div id="page-content-wrapper">
    <h1>Your Courses</h1>
    <div class="container-fluid">
      {% for course in courses %}
      <div class="container-fluid">
        <h1 class="mt-4"><a href="{% url 'student_course_detail' course.slug %}">
            {{ course.title }}</a></h1>
        <p>{{ course.overview}}</p>
      </div>
      <br>
        Instructor: {{ course.owner.get_full_name }}
      <br>
      {%empty%}
      <h1 class="mt-4">{{user.username}}</h1>
      <p>You are not enrolled to any course</p>
    </div>
    {%endfor%}
  </div>
</div>
{% else %}
{% include 'index.html' %}
{% endif %}
{% endblock %}