{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block content %}


<link rel="stylesheet" type="text/css" href="{% static 'authentication/style.css' %}">
<div class="container login-container login-form-1">
  <h3>Password Reset</h3>
  <form method="POST">
    <div class="form-group">
      {% csrf_token %}
      {{ form.as_p }}
    </div>
    <div class="form-group">
      <input type="submit" class="btnSubmit btn btn-success" value="Login" />
    </div>
    <div class="form-group">
      <a href="#" class="ForgetPwd">Forget Password?</a>
    </div>
    <div class="form-group">
      <a href="{% url 'user:signup' %}">Signup</a>
    </div>
  </form>
</div>
{% endblock %}